.social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
}

.social-icon i {
    font-size: 1.3rem;
}

.social-icon a:hover {
    color: rgb(21, 161, 196) !important;
}