:root {
    font-size: 16px;
    --color: #D65DB1;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-family: Quicksand;
}

body {
    overflow-x: hidden;
    height: 100% !important;
}


html {
    scroll-behavior: smooth;
}

/* nav starts here */
.active {
    display: block !important;
}

.text-white {
    color: white;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    background: rgb(101, 78, 163);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;

}

.nav-links {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.nav-links {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    z-index: 1000;
}

.nav-links li a {
    color: white;
}

.logo img {
    max-width: 50px;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    position: absolute;
    height: 100px;
    width: 150px;
    background: rgb(234, 175, 200);
    text-align: center;
    top: 120%;
    display: none;
}

.dropdown ul li {
    margin-top: 5px;
    border-bottom: 1px solid white;
    padding: 2px 0;
}

.dropdown ul li:last-child {
    border: 0;
}

.burger {
    display: none;
}


.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background: white;
}

.big-bg {
    background: url('https://images.unsplash.com/photo-1476242906366-d8eb64c2f661?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1608&q=80') no-repeat fixed center center/cover;
    height: 750px;
}

.transparent-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position: relative;

}

.news-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 4.5rem;
    border-bottom: 1px solid white;
}

.arrow {
    font-size: 2rem;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: move 1.5s forwards;
}

.arrow a {
    color: white;
}


.secondary-heading {
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    border-bottom: 1px solid white;
    text-align: center;
    border-bottom: 1px solid rgb(216, 235, 240);

}


.container {
    flex: 0 1 1170px;
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.news-container {
    flex: 0 0 22%;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 30%; */
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid rgb(199, 198, 198);
}

.news-image {
    width: 100%;
}

.news-container img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.news-text {
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.news-text>h3 {
    text-align: center;
    padding: 5px 0;
}

.more {
    padding: 10px;
    background: var(--color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.more a {
    color: white;
    font-size: 1.01rem;
}

.more:hover a {
    color: black;
}






@keyframes move {
    0% {
        top: 88%;
    }

    100% {
        top: 93%;
    }


}



.podcast-big-bg {
    background: url('https://images.unsplash.com/photo-1478737270239-2f02b77fc618?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat fixed center center/cover;
    height: 600px;
}

.podcast-transparent-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position: relative;

}

.podcast-bg-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 4.5rem;
    border-bottom: 1px solid white;
}

.podcast-container {
    margin: 20px 0;
}

.podcast-heading {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}

.podcast-image {
    margin: 20px auto;
    max-width: 500px;
}

.podcast-image img {
    width: 100%;
}

.underline {
    border-top: 1px solid darkcyan;
}

.podcast-body {
    padding: 0 200px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #2d767f;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 30px;
}

footer {
    height: 15vh;
    background: #6C757D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    padding: 5px;
}

footer ul li a {
    color: white;
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: column;
}

.info a {
    color: white;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.info>p,
a {
    margin: 5px 0;
}





a:hover {
    color: #00F8FF;
}



/* ----------- single page ---------------- */

.single-container {
    width: 1170px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 0 0 70%;
}

article p {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: rgb(131, 134, 134);
}

aside {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;

}

.article-heading {
    font-size: 2rem;
}

.banner {
    max-width: 250px;
    max-height: 200px;
}

.banner img {
    max-width: 100%;
    object-fit: cover;
}





@media screen and (max-width:1200px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background: rgb(101, 78, 163);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        opacity: 0;
        /* transform: translateX(100%); */
        transition: opacity 0.3s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinksFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .dropdown ul {
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .container {
        margin: 50px 50px;
    }


    .news-container {
        flex: 1 0 100%;
    }

    .news-heading,
    .podcast-heading {
        font-size: 3rem !important;
    }

    .podcast-body {
        padding: 0 100px !important;
    }

    .podcast-bg-heading {
        font-size: 7vw;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    footer ul {
        margin: 30px 0;
    }

    .single-container {
        flex-direction: column;
        width: auto;
    }
}


@media (max-width: 576px) {

    .news-heading,
    .podcast-bg-heading,
    .podcast-heading {
        font-size: 1.8rem !important;
    }

    .podcast-body {
        padding: 0 10px !important;
    }



}