nav {
    background-image: linear-gradient(to right, rgb(101, 78, 163), rgb(234, 175, 200));
}

.navbar-brand img {
    max-width: 50px;
}

.search {
    visibility: hidden;
    transition: 1s;

}

.form-inline:hover .search {
    visibility: visible;
}

.nav-item {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;

}

.nav-link:hover {
    color: #00F8FF !important;
}

.search::placeholder {
    color: white;
}

.search-btn {
    background: #D65DB1;
}

.search-btn:hover {
    background-color: #00F8FF;
    color: #000 !important;
    transition: 0.5s;
}

.form-control:focus {
    border-color: indigo;
    box-shadow: inset 0 1px 1px transparent, 0 0 8px indigo;
}